body {
  width: 100%;
  height: 100vh;
  background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104, 128, 138, 0.4) 10%, rgba(138, 114, 76, 0) 40%), linear-gradient(to bottom, rgba(57, 173, 219, 0.25) 0%, rgba(73, 96, 130, 0.7) 100%), linear-gradient(135deg, #f05 0%, #092756 100%); }

a {
  color: #fff;
  text-decoration: none; }

a:visited {
  color: #fff;
  text-decoration: none; }

a:active {
  color: #1a6eb3; }

.shadow {
  box-shadow: 6px 7px 11px -5px rgba(0, 140, 112, 0.41); }

.navbar {
  margin: 0 0 .5em;
  padding: 15px 0.5em 0.5em;
  border-bottom: 1px solid #ffffffa8;
  font-size: 1.5em; }

.navbar a,
span {
  margin: 0.2em;
  color: #ffffff;
  text-decoration-line: none;
  font-size: .9em; }

.navuser {
  display: inline-block;
  float: right; }

.nav {
  display: inline-block;
  transform: rotate(0deg); }

.nav-rotate {
  display: inline-block;
  transform: rotate(90deg); }

.key-ui {
  position: absolute;
  top: 80px;
  right: 20px;
  padding: .3em 0.7em;
  background-color: whitesmoke;
  box-shadow: 6px 7px 11px -5px rgba(65, 185, 161, 0.609); }

.hidden {
  display: none; }

/* FIELDS */
.login-signup {
  text-align: center; }

.login-signup h2 {
  color: white; }

.login-signup input {
  margin: 25px auto;
  display: block;
  padding: 5px;
  border: 1px solid #ccc; }

.new-session-form {
  font-size: 0.4em;
  display: inline; }

.new-session-form input,
select {
  width: 210px;
  font-size: 2em;
  border: 1px solid #ccc; }

.session-container {
  color: white;
  width: 95%;
  margin: 0 auto; }

.profile {
  color: white;
    width: 95%;
   margin: 0 auto;
}

.card {
  display: inline-grid;
  margin: 1em;
  padding: 0.5em;
  border: 2px solid white; }

.session-title {
  display: inline-block;
  font-size: 2em;
  font-weight: bold;
  color: white; }

.edit-session-form input,
select {
  font-size: 2em;
  border: 1px solid;
  background-color: #ffffff;
  font-size: 2em;
  font-weight: bold; }

.add-synth {
  display: inline-block;
  font-size: 1.8em;
  font-weight: bold;
  color: whitesmoke;
  margin: 0 10px; }

.new-instruments-form {
  display: inline-block;
  width: 50%;
  color: gray; }

/* SYNTH */
.synth-title {
  margin-top: 20px;
  display: inline-block; }

.synth-title input {
  font-size: 0.9em;
  outline: 1px solid #013d87;
  outline-offset: -1px;
  margin-bottom: 5px; }

.save-prompt {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  padding: auto;
  text-align: center;
  background-color: #ffffff95; }

.save-prompt:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.cta {
  margin: 5%;
  padding: 1em;
  height: 150px;
  width: 300px;
  background-image: linear-gradient(77deg, #23bac3, #e73c7e);
  border: 1px solid #ffffff;
  display: inline-block;
  border-radius: 1em;
  color: white; }

.cta li {
  display: inline-block;
  margin: 15px 25px 0;
  list-style: none;
  font-size: 1.3em; }

.remove-synth {
  float: inline-end;
  bottom: 0;
  margin: 20px 0 0; }

.mono-synth {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #18fced;
  background-image: linear-gradient(red, yellow, green);
  border: 1px solid #013d87;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px; }

.mono-synth:focus-within {
  border: 1px solid white;
  box-shadow: 10px 10px white;
  outline-width: 0; }

.duo-synth {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  background-image: linear-gradient(purple, blue, teal);
  border: 1px solid #013d87;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px; }

.duo-synth:focus-within {
  border: 1px solid white;
  box-shadow: 10px 10px white;
  outline-width: 0; }

.fm-synth {
  color: white;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-image: url("https://data.whicdn.com/images/288718625/large.jpg");
  border: 1px solid #013d87;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px; }

.fm-synth:focus-within {
  border: 1px solid white;
  box-shadow: 10px 10px white;
  outline-width: 0; }

.handler {
  padding: 0 0 5px 0;
  font-size: 0.6em; }

.Keys {
  display: flex;
  flex-direction: row;
  width: 265px;
  position: relative; }

.Key {
  width: 35px;
  height: 123px;
  border: 1px solid;
  position: absolute; }

.Key.black.active {
  background-color: #4d4d4d; }

.Key.white.active {
  background-color: #646464; }

.Key:nth-child(2) {
  left: 20px; }

.Key:nth-child(4) {
  left: 58px; }

.Key:nth-child(7) {
  right: 102px; }

.Key:nth-child(9) {
  right: 64px; }

.Key:nth-child(11) {
  right: 26px; }

.white {
  background-color: whitesmoke;
  position: static; }

.white:first-of-type {
  border-bottom-left-radius: 10px; }

.white:last-of-type {
  border-bottom-right-radius: 10px; }

.black {
  background-color: black;
  border: 3px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  border-top: 0px;
  height: 75px;
  width: 30px;
  z-index: 2; }

.text {
  text-align: center; }

.octave {
  text-align: center;
  margin-top: 10px; }

.octave button,
.octave p {
  display: inline-block; }

.octave button {
  margin: 3px 3px;
  width: 40px; }

/* SEQUENCER */
.grid {
  padding: 1rem;
  background-color: #18fced;
  outline: 2px solid #013d87;
  outline-offset: -2px; }

.grid:focus-within {
  background-color: #ff00ff;
  outline: 10px dashed #013d87;
  outline-offset: -10px; }

.table {
  display: inline-block;
  border: 4px solid blueviolet; }

.tbody {
  border: 3px solid orange; }

.key-y {
  border: 6px solid gainsboro; }

.key-x {
  display: inline-block;
  border: 1px solid forestgreen; }

.sequencer-box {
  width: 0.5em; }



/* ---------------------------------------------------------
     Media Queries
     ---------------------------------------------------------*/

@media all and (max-width: 1200px) {
}

@media all and (max-width: 800px) {
}

@media all and (max-width: 430px) {
}

/*  WASUP  */
